
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/fonts/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">@Session["Role"].ToString() Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>

                </ul>

            </div>
            <div style="margin-right:10px">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a style="color:black;margin-right:5px;" href="/Auth/UserDetails" class="btn">@Session["email"].ToString()</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Auth/Logout" class="btn btn-danger">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="position-sticky">

                    @if (@Session["Role"].ToString() == "Donator")
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/AddFood?Id=0">
                                    Add Food
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetmyDonatedFoods">
                                    All Donated Foods
                                </a>
                            </li>
                            <!-- Add more sidebar links here -->
                        </ul>
                    }
                    @if (@Session["Role"].ToString() == "Needy")
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/RequestFood?Id=0">
                                    Create Request
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetFoodRequests">
                                    My Requests
                                </a>
                            </li>

                            <!-- Add more sidebar links here -->
                        </ul>
                    }
                    @if (@Session["Role"].ToString() == "Admin")
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/AddDonaiters">
                                    Add Donaiter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetDonaiters">
                                    All Donaiter's
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/AddNeedy">
                                    Add Needy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetNeedy">
                                    All Needy's
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetAllDonatedFoods">
                                    All Donated Foods (way to CC)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/GetAllAvailableFoods">
                                    All Donated Foods (In Stock)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/NeedyRequests">
                                    Needy Requests
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/SendFoodToNeedy">
                                    Send Food To Needy
                                </a>
                            </li>
                            //
                            <!-- Add more sidebar links here -->
                        </ul>
                    }
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/ChangePassword">
                                Change Password
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>

            <!-- Page Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Include Bootstrap JS (jQuery and Popper.js are required) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

</body>
</html>