@model IEnumerable<Food_Collection_And_Supply.Database.DonatedFood>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <br />
    <div class="card">

        <div class="card-body">

            <table id="tbl" class="table" data-tablesaw-mode="swipe">
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Qty</th>
                        <th>MFG</th>
                        <th>Expiry</th>
                        <th>Status</th>
                        <th>Collection Center</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.FoodName</td>
                            <td>@item.Quantity</td>
                            <td>@item.ManufacturedDate</td>
                            <td>@item.ExpiryDate</td>
                            <td>@item.Status</td>
                            <td>@item.City</td>
                            <td>
                                @if (item.Status == "Saved")
                                {
                                    <a style="cursor:pointer;" class="btn btn-primary btn-sm" title="update" href="/Home/AddFood?Id=@item.Id" )">Update</a>
                                    <a style="cursor:pointer;" class="btn btn-success btn-sm" title="send" onclick="Send(@item.Id)">Send To Collection Center(@item.City)</a>
                                }
                                else
                                {
                                    <b>Delivery in Progress</b>
                     
                                }
                                </td>





                            </tr>

                        }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $("#tbl").DataTable()

        });

        var Send = function (id) {
            swal({
                title: 'Are you sure?',
                text: "You would not able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Send it!'
            }).then(function () {


                $.ajax({
                    url: "/Home/SendFood",
                    type: "POST",
                    data: { id: id },
                    success: function (res) {
                        if (res == "send") {

                            swal({
                                title: "success", text: "Successfully Send!", type: "success"
                            }).then(function () {
                                location.reload();
                            });
                        }

                        else {
                            swal('send!', "Something Wrong !", 'error');
                        }
                    }
                })

            })

        }

    </script>
}